language: java
jdk:
  - openjdk8
branches:
  only:
    - master

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'
script: "./gradlew clean build"

before_install:
  - chmod +x gradlew


before_deploy:
  - zip -r post-ex-springboot
  - mkdir -p deploy
  - mv post-ex-springboot.zip deploy/post-ex-springboot.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY # Travis repo setting에 설정된 값
    secret_access_key: $AWS_SECRET_KEY # Travis repo setting에 설정된 값
    bucket: post-springboot-build # S3 버킷
    region: ap-northeast-2
    skip_cleanup: true
    acl: private #zip 파일 접근 권한 private
    local_dir: deploy # before_deploy에서 생성한 디렉토리
    wait-until-deployed: true

  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: post-springboot-build
    key: post-ex-springboot.zip
    bundle_type: zip
    application: post-ex-springboot
    deployment_group: post-ex-springboot-group
    region: ap-northeast-2
    wait-until-deployed: true

# CI 실행 완료 시 메일로 알람
notifications:
  email:
    recipients:
      - asqw4545@gmail.com