spring:
  profiles:
    active: real

# local
---
spring:
  profiles: local
  jpa:
    show_sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
  session:
    store-type: jdbc
  h2:
    console:
      enabled: true

# real
---
spring.profiles: real
spring.profiles.include:
  - oauth
  - real-db

# real1
---
spring.profiles: real1
server.port: 8081
spring.profiles.include:
  - oauth
  - real-db

# real2
---
spring.profiles: real2
server.port: 8082
spring.profiles.include:
  - oauth
  - real-db